/* UNIVERSAL STYLE */

html,body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: white;
    font-family: 'Nuosu SIL', serif;
}


/* HEADER */

header {
    width: 100%;
    border-bottom: 1px solid black;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-name {
    display: flex;
    width: 50%;
    padding-left: 1rem;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;

}

.main-nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

header ul li {
    display: inline;
    padding-right: 2rem;
}

nav a {
    text-decoration: none;
    vertical-align: bottom;
    line-height: 1.6;
    color: black;
    font-family: 'Roboto Slab', serif;
}

/* ABOUT ME */

.about-me {
    display: flex;
    width: 100%;
    justify-content: center;
}
.about-me-container {
    display: flex;
}

.about-me-info {
    width: 70%;
    justify-content: start;
    padding-left: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

.extra-info {
    display: flex;
    width: 40%;
    justify-content: center;
}
.img-container {
    display: flex;
    justify-content: center;
    padding-left: 4rem;
}

img {
    height: 20rem;
    padding-top: 2.5rem;
    padding-right: 3rem;
    margin: 0.5rem;
}

table {
    background-color: black;
    text-align: center;
}
td {
    background-color: white;
}

/* PROJECTS */

#project-section {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.projects h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 1rem;
}

.projects ul {
    list-style: none;
}
.projects ul li {
    display: inline;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;

}

.projects li::before {
    content: '▶';
    left: 0;
    padding-right: 0.5rem;
  }

.projects ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.projects ul li a{
    color: blue;
}

/* SKILLS */ 

#skills-section {
    display: flex;
    width: 100%;
    margin-top: 2em;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skills h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-bottom: 0;
}

.skills ul {
    margin: 0;
}
.skills ul li {
    display: inline;
}

.skills  img {
    height: 30px;
}

/* CONTACT ME */ 

.contact-me-section {
    display: flex;
    width: 100%;
}

.contact-me-container {
    display: flex;
    width: 100%;
    padding-left: 1rem;
}

.contact-me h2 {
    font-family: 'Roboto Slab', serif;
}

.contact-me p {
    font-family: 'Roboto Slab', serif
}

.contact-me nav {
    display: inline;
}

.contact-me nav img {
    height: 30px;
}

/* NIGHT MODE */

#night-mode-section {
    display: flex;
    width: 100%;
}

.night-mode-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.night-mode {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* DAY MODE */

#day-mode-section {
    display: flex;
    width: 100%;
}

.day-mode-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.day-mode {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

